<!-- <h1>Blogs</h1> -->

<section id="blogsSection">
  @for(blog of blogPosts; track blog.id){

  <div
    class="blogcard"
    style="
      display: flex;
      flex-direction: column;
      max-width: 700px;
      margin: auto;
      border: 1px solid black;
      padding: 1rem;
      margin-bottom: 2rem;
      background-color: rgb(249, 249, 249);
    "
  >
    <h2>{{ blog.title }} {{ blog.id }}</h2>

    <div>
      <h4>
        {{ blog.description }}
      </h4>

      <p>{{ blog.content }} see more...</p>
    </div>

    <div>
      <p>
        <b> Authored by: {{ blog.author }} </b>
      </p>
      <p>{{ blog.publishedDate }}</p>
    </div>

    <div>
      <button style="padding: 0.4rem">
        <a
          [routerLink]="blog.id"
          style="
            text-decoration: none;
            color: inherit;
            font-weight: 600;
            font-size: inherit;
          "
        >
          Read Full Blog
        </a>
      </button>
    </div>
  </div>

  }@empty {
  <h2>No blogs found</h2>
  }
</section>
